html, body {
    margin: 0px;
    font-size: 0.8rem;
}
body {
    background-color: var(--background-main);
}
.idea {
    margin: auto;
    width: 13rem;
    height: 3rem;
    background-color: aliceblue;
    display: flex;
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.idea h2 {
    margin: 0;
    line-height: 3rem;
    position: absolute;
    left: 1rem;
}
.idea div {
    position: absolute;
    right: 1rem;
    display: flex;
}
.idea p {
    margin: 0;
    line-height: 3rem;
    margin-left: 0.2rem;
}
.fa-discord {
    line-height: 3rem;
    font-size: 1rem;
}
.idea:hover {
    background-color: rgb(207, 207, 207);
    color: black;
}