:root {
    --color1: rgb(236, 234, 234);
    --color2: rgb(207, 207, 207);
    --background-main: rgb(221, 221, 221);
    font-size: 20px;
    --text-color: rgb(39, 39, 39);
    --white: #fff;
}
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(73, 73, 73), rgb(109, 109, 109));
    border-radius: 100rem;
}
body::-webkit-scrollbar-track {
    background-color: var(--color1);
}
.other-choose {
    background-color: rgb(66, 65, 65);
    height: 17.5rem;
    width: 100%;
    color: white;
    font-size: 1.74rem;
    padding: 0.5rem 2.5rem 10rem 2.5rem;
    box-sizing: border-box;
    border: 1.25rem;
    border-style: solid;
    border-color: rgb(48, 48, 48);
}
.find {
    margin: 2rem;
    width: 60%;
    height: auto;
    background-color: white;
    display: flex;
    border-radius: 1rem;
    position: relative;
}
.select {
    width: 90%;
    height: 100%;
    color: var(--text-color);
    text-align: left;
    margin: 1rem;
}
.icon {
    width: 10%;
    color: var(--text-color);
    margin: 1rem;
}
.list-chap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: inherit;
    visibility: hidden;
}
.chap {
    width: calc( 100% - 2rem);
    height: auto;
    background-color: var(--white);
    border-radius: inherit;
    text-decoration: none;
    text-align: left;
    padding: 1rem;
    color: var(--text-color);
}
@keyframes grow {
    from {
        transform: scale(1);
    }
    tp {
        transform: scale(1.1);
    }
}
.chap:hover {
    background-color: var(--color2);
    animation: grow;
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.find:hover .list-chap {
    visibility: visible;
    animation: show ease-in 0.2s;
}
.box-chap {
    padding: 2rem;
    margin: auto;
    width: 50%;
    height: 90vh;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem #000;
}
.reading-box {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
.reading-box::-webkit-scrollbar {
    width: 0.2rem;
}
.reading-box::-webkit-scrollbar-thumb {
    background-color: var(--color1);
}
.reading-box::-webkit-scrollbar-track {
    background-color: transparent;
}