:root {
    --color1: rgb(236, 234, 234);
    --color2: rgb(207, 207, 207);
    --background-main: rgb(221, 221, 221);
    font-size: 20px;
    --text-color: rgb(39, 39, 39);
    --white: #fff;
}
@media all and (max-width: 1000px) {
    :root {
        font-size: 16px;
    }
}
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(73, 73, 73), rgb(109, 109, 109));
    border-radius: 100rem;
}
body::-webkit-scrollbar-track {
    background-color: var(--color1);
}
.other-choose {
    background-color: rgb(66, 65, 65);
    height: 17.5rem;
    width: 100%;
    color: white;
    font-size: 1.74rem;
    padding: 0.5rem 2.5rem 10rem 2.5rem;
    box-sizing: border-box;
    border: 1.25rem;
    border-style: solid;
    border-color: rgb(48, 48, 48);
}
.back-box {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
}
.back-box p {
    margin: 0;
}
.back-box:hover {
    background-color: rgb(54, 54, 54);
}
.find {
    margin: 2rem;
    width: 60%;
    height: auto;
    background-color: white;
    display: flex;
    border-radius: 1rem;
    position: relative;
}
.select {
    width: 90%;
    height: 100%;
    color: var(--text-color);
    text-align: left;
    margin: 1rem;
}
.icon {
    width: 10%;
    color: var(--text-color);
    margin: 1rem;
    margin-right: -0.5rem;
}
.list-chap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: inherit;
    visibility: hidden;
}
.chap {
    width: calc( 100% - 2rem);
    height: auto;
    background-color: var(--white);
    border-radius: inherit;
    text-decoration: none;
    text-align: left;
    padding: 1rem;
    color: var(--text-color);
}
.chap:hover {
    background-color: var(--color2);
    transform: scale(1.1);
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.find:hover .list-chap {
    visibility: visible;
    animation: show ease-in 0.1s;
}
.box-chap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.reading-box {
    width: 600px;
    height: 880px;
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.75);
    margin: 0.5rem;
}