:root {
    --color1: rgb(236, 234, 234);
    --color2: rgb(207, 207, 207);
    --background-main: rgb(221, 221, 221);
    font-size: 20px;
    --text-color: rgb(39, 39, 39);
    --white: #fff;
}
.welcome {
    background-color: rgb(66, 65, 65);
    height: 17.5rem;
    width: 100%;
    color: white;
    font-size: 1.74rem;
    padding: 0.5rem 2.5rem 10rem 2.5rem;
    box-sizing: border-box;
    border: 1.25rem;
    border-style: solid;
    border-color: rgb(48, 48, 48);
}
.find {
    width: 60%;
    height: auto;
    background-color: white;
    display: flex;
    border-radius: 1rem;
    position: relative;
}
.select {
    width: 90%;
    height: 100%;
    color: var(--text-color);
    text-align: left;
    margin: 1rem;
}
.icon {
    width: 10%;
    color: var(--text-color);
    margin: 1rem;
}
.list-chap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: inherit;
    visibility: hidden;
}
.chap {
    width: calc( 100% - 2rem);
    height: auto;
    background-color: var(--white);
    border-radius: inherit;
    text-decoration: none;
    text-align: left;
    padding: 1rem;
    color: var(--text-color);
}
.chap:hover {
    background-color: var(--color2);
}
.find:hover .list-chap {
    visibility: visible;
}
.in4 {
    display: flex;
    justify-content: space-between;
    margin: 5rem;
}
.box1,
.box2 {
    width: 20rem;
    display: flex;
    background-color: var(--color1);
    border-radius: 1rem;
    position: relative;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem rgb(75, 75, 75);
    padding: 2.5%;
    margin: 2rem auto;
}
@media (max-width: 1160px) {
    .in4 {
        display: flex;
        flex-direction: column;
    }
}
.boxavt {
    width: 4rem;
    border-radius: 100%; 
    border-color:black; 
    border: auto; 
    border-style: solid;
}
.boxin4{
    margin: 1rem;
    text-align: left;
}