body::-webkit-scrollbar {
    width: 0.3rem;
}
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(73, 73, 73), rgb(109, 109, 109));
    border-radius: 100rem;
}
body::-webkit-scrollbar-track {
    background-color: rgb(236, 234, 234);
}